@page "/chat"

@rendermode InteractiveWebAssembly

@using DTOs
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.SignalR.Client

@implements IAsyncDisposable

@inject NavigationManager Navigation
@inject TheData TheData

<PageTitle>Chat</PageTitle>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message.Id: @message.Value</li>
    }
</ul>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private HubConnection? hubConnection;
    private List<TheData> messages = [];

    protected override async Task OnInitializedAsync()
    {
        if (int.TryParse(HttpContext?.Request.Query["runId"], out var id))
        {
            TheData.Id = id;

            hubConnection = new HubConnectionBuilder()
                .WithUrl(Navigation.ToAbsoluteUri($"/chathub?runId={id}"))
                .Build();

            hubConnection.On<TheData>("ReceiveData", theData =>
            {
                messages.Add(theData);
                InvokeAsync(StateHasChanged);
            });

            await hubConnection.StartAsync();
        }
    }

    public bool IsConnected => hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
