@page "/chat"

@rendermode InteractiveWebAssembly

@using DTOs
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.SignalR.Client

@implements IAsyncDisposable

@inject NavigationManager Navigation

<PageTitle>Chat</PageTitle>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message.Id: @message.Value</li>
    }
</ul>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private HubConnection? hubConnection;
    private List<TheData> messages = [];

    protected override async Task OnInitializedAsync()
    {
        messages.Add(new TheData { Id = 123, Value = "Test" });
        int.TryParse(HttpContext?.Request?.Query["id"], out var id);

        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri($"/chathub"))
            .Build();

        hubConnection.On<TheData>("ReceiveData", theData =>
        {
            Console.WriteLine($"The Data {theData.Id}: {theData.Value}");
            messages.Add(theData);
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();

        if (id > 0)
        {
            await hubConnection.InvokeAsync("SetClientId", id, hubConnection.ConnectionId);
        }
    }

    public bool IsConnected => hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
